[core]
    editor = vim
    pager = delta
	quotepath = false
[user]
    email = urano.works.mail@gmail.com
    name = URANO Ryoya
[color]
    ui = true
[ghq]
    root = ~/Repositories/
[alias]
    # https://mattn.kaoriya.net/software/git/20140708105946.htm
    # TODO: このままだとCloseしてるブランチも持ってくるっぽいのでどうにかしたい
    pr-setup =  "config --add remote.upstream.fetch +refs/pull/*/head:refs/remotes/upstream/pr/*"

    br = "branch"
    bra = "branch -a"
    co = "!git checkout $(git branch -a --format '%(refname:short)' | fzf)"
    addf = "!fish -c __git_addf"
    tmpcommit = "commit -am 'tmp commit'"

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

