[core]
    editor = vim
[user]
    email = urano.works.mail@gmail.com
    name = URANO Ryoya
[color]
    ui = true
[ghq]
    root = ~/Repositories/
    root = ~/go/src/
[alias]
    # https://mattn.kaoriya.net/software/git/20140708105946.htm
    # TODO: このままだとCloseしてるブランチも持ってくるっぽいのでどうにかしたい
    pr-setup =  "config --add remote.upstream.fetch +refs/pull/*/head:refs/remotes/upstream/pr/*"

    br = "branch"
    bra = "branch -a"
    co = "!git checkout $(git branch -a --format '%(refname:short)' | fzf)"
    addf = "!fish -c __git_addf"
