! 透過処理
! ranger で画像が表示できないので透過はなし
!URxvt.depth: 32
!URxvt*.background: [70]#000000
URxvt*background: black
URxvt*foreground: snow
urxvt*geometry: 80x30
urxvt*saveLines: 4096

! スクロールバー
URxvt*scrollBar: false 

! fonts
URxvt*font: xft:ubuntu mono:size=11:antialias=true
!URxvt*.boldFont: xft:ubuntu mono:bold:size=11:antialias=true
!URxvt.italicFont: xft:ubuntu mono:italic:size=11:antialias=true
!URxvt.bolditalicFont: xft:ubuntu mono:bold:italic:size=11:antialias=true
URxvt*letterSpace: -1

URxvt*perl-ext-common: xim-onthespot.
URxvt*inputMethod: fcitx
URxvt*preeditType: OnTheSpot
